{% extends "layouts/app.html" %}
{% load static %}
{% block content %}
<section class="portada">
  <div class="contenedor saludo">
    <div class="profile">
      <h2>name developer :#############</h2>
      <img src={% static 'images/hola.jpg' %} alt="Logo">
    </div>
    <div class="saludo__parrafo">
      <div class="Habilidades">
        <h3>Habilidades :</h3>
        <p>Lorem ipsum dolor sit amet</p>
        <p>Lorem ipsum dolor sit amet</p>
        <p>Lorem ipsum dolor sit amet</p>
        <p>Lorem ipsum dolor sit amet</p>

      </div>
      <div class="datos">
        <h3>datos personales :</h3>
        <p>Lorem ipsum dolor sit amet</p>
        <p>Lorem ipsum dolor sit amet</p>
        <p>Lorem ipsum dolor sit amet</p>
        <p>Lorem ipsum dolor sit amet</p>

      </div>
      <div class="contacto">
        <h3>contacto :</h3>
        <p>Lorem ipsum dolor sit amet</p>
        <p>Lorem ipsum dolor sit amet</p>
        <p>Lorem ipsum dolor sit amet</p>
        <p>Lorem ipsum dolor sit amet</p>

      </div>
    </div>
  </div>
</section>
{% endblock %}
