{% extends "layouts/app.html" %}
{% load static %}
{% block content %}
<section class="block__total">
  <h2>
    Portafolio
  </h2>
  <div class="block__L">
    <div class="block__small">
      <a href="">
        <img src={% static 'images/pexels-lukas-574073.jpg' %} alt="img" class="miniimg">
      </a>
      <p class="teximg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem aliquam, modi debitis
        error nulla
        asperiores voluptates nostrum.</p>

      <button class="btn">Mas impormacion</button>
    </div>
    <div class="block__small">
      <a href="">
        <img src={% static 'images/pexels-lukas-574073.jpg' %} alt="img" class="miniimg">
      </a>
      <p class="teximg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem aliquam, modi debitis
        error nulla
        asperiores voluptates nostrum.</p>

      <button class="btn">Mas impormacion</button>
    </div>
  </div>
</section>
<footer class="footer__block"> Derechos de autor</footer>
{% endblock %}