{% extends "layouts/app.html" %}
{% load static %}
{% block content %}
<section class="portada">
  <h2>
    <p></p>ortafolio
  </h2>
  <div class="contenedor saludo">
    <div class="block__medium">
      <div class="block__small">
        <a href=""><img src="" alt="" class="miniimg"></a>
      </div>
      <div class="block__small">
        <a href=""><img src="" alt="" class="miniimg"></a>
      </div>
      <div class="block__small">
        <a href=""><img src="" alt="" class="miniimg"></a>
      </div>
      <div class="block__small">
        <a href=""><img src="" alt="" class="miniimg"></a>
      </div>
    </div>
    <div class="block__medium">
      <div class="block__small">
        <a href=""><img src="" alt="" class="miniimg"></a>
      </div>
      <div class="block__small">
        <a href=""><img src="" alt="" class="miniimg"></a>
      </div>
      <div class="block__small">
        <a href=""><img src="" alt="" class="miniimg"></a>
      </div>
      <div class="block__small">
        <a href=""><img src="" alt="" class="miniimg"></a>
      </div>
    </div>
  </div>
</section>
<footer class="footer__block"> Derechos de autor</footer>
{% endblock %}