{% extends "layouts/app.html" %}
{% load static %}
{% block content %}
<section class="block__total">
  <h2>
    Portafolio
  </h2>
  <div class="block__L">
    <div class="block__medium">
      <div class="block__small">
        <a href=""><img src={% static 'images/pexels-lukas-574073.jpg' %} alt="img" class="miniimg">
          <p class="teximg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem aliquam, modi debitis
            error nulla
            asperiores voluptates nostrum.</p>
        </a>
        <button class="btn">Mas impormacion</button>
      </div>
      <div class="block__small">
        <a href=""><img src={% static 'images/pexels-lukas-574069.jpg' %} alt="img" class="miniimg">
          <p class="teximg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem aliquam, modi debitis
            error nulla
            asperiores voluptates nostrum.</p>
        </a>
        <button class="btn">Mas impormacion</button>
      </div>
      <div class="block__small">
        <a href=""><img src={% static 'images/pexels-christina-morillo-1181271.jpg' %} alt="img" class="miniimg">
          <p class="teximg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem aliquam, modi debitis
            error nulla
            asperiores voluptates nostrum.
          </p>
        </a>
        <button class="btn">Mas impormacion</button>
      </div>
      <div class="block__small">
        <a href=""><img src={% static 'images/pexels-cottonbro-studio-5077049.jpg' %} alt="img" class="miniimg">
          <p class="teximg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem aliquam, modi debitis
            error nulla
            asperiores voluptates nostrum.</p>
        </a>
        <button class="btn">Mas impormacion</button>
      </div>
    </div>
    <div class="block__medium">
      <div class="block__small">
        <a href=""><img src={% static 'images/pexels-danny-meneses-943096.jpg' %} alt="img" class="miniimg">
          <p class="teximg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem aliquam, modi debitis
            error nulla
            asperiores voluptates nostrum.</p>
        </a>
        <button class="btn">Mas impormacion</button>
      </div>
      <div class="block__small">
        <a href=""><img src={% static 'images/pexels-lisa-fotios-16129688.jpg' %} alt="img" class="miniimg">
          <p class="teximg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem aliquam, modi debitis
            error nulla
            asperiores voluptates nostrum.</p>
        </a>
        <button class="btn">Mas impormacion</button>
      </div>
      <div class="block__small">
        <a href=""><img src={% static 'images/pexels-lisa-fotios-16129877.jpg' %} alt="img" class="miniimg">
          <p class="teximg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem aliquam, modi debitis
            error nulla
            asperiores voluptates nostrum.</p>
        </a>
        <button class="btn">Mas impormacion</button>
      </div>
      <div class="block__small">
        <a href=""><img src={% static 'images/pexels-luis-gomes-546819.jpg' %} alt="img" class="miniimg">
          <p class="teximg">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem aliquam, modi debitis
            error nulla
            asperiores voluptates nostrum.</p>
        </a>
        <button class="btn">Mas impormacion</button>
      </div>
    </div>
  </div>
</section>
<footer class="footer__block"> Derechos de autor</footer>
{% endblock %}